<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <title>網路攻防實習ㄉ作業</title>
</header>


<style>
    body{
        background-image: url('./static/background.gif');
        color: green;
    }
    a {
            color:greenyellow;
    }
</style>


<body>
    <div style="text-align: center;">
        <img src='./static/welcome.gif'>
        <br><br>
        <br><h1>Name：Chiao-Lin Yu (Steven Yu)</h1>
        <br><h1>School：National Taiwan University of Science and Technology</h1>
        <br><h1>Major：Electrical Engineering Bachelor's degree</h1>
        <img src="{{url_for('static', filename='my_photo.jpg')}}" style="max-width: 25%;" />
        <br><h1><a href='https://fb.com/stevenyu113228/'>FaceBook</a>  
                <a href='https://github.com/stevenyu113228'>Github</a>  
                <a href='http://t.me/stevenyu113228'>Telegram</a>  
                <a href='mailto:stevenyu113228@gmail.com'>Email</a>  
        </h1>
        <img src='./static/line1.gif'><img src='./static/line1.gif'>

        <br><br><br><br><br>

        <br>ㄋ知道為什麼我ㄉ介面這ㄇ醜ㄇ...
        <br>因為......
        <br><br><br><br><br><br><br><br><br><br>
        <img src="{{url_for('static', filename='i_am_lan.jpg')}}"/>
        <br><br><br><br><br>
        <br><a href="./message_board.php"><img src='./static/message_board.gif'>
        
            
        <!-- <br><a href="./phpmyadmin.php">phpmyadmin</a>
        <br><a href="./phpinfo.php">phpinfo</a>
        <br><a href="./admin">admin_page</a> -->
    </div>
</body>

</html>